.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 12px;
}

.pagination button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #5c5c5c;
  color: #5c5c5c;
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
  transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
}

.pagination button.activePage {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
}
