.slider {
  position: relative;
  width: 1320px;
  height: 548px;
  display: flex;
  border-radius: 10px;
  background-color: #080423;
  padding: 34px;
  color: #fff;
}

.slider_title {
  position: absolute;
  text-transform: uppercase;
}

.slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 39px;
}

.slide_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 448px;
  height: 474px;
}

.movie_title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.movie_info {
  font-size: 18px;
}

.movie_poster {
  display: inline-block;
  width: 765px;
  height: 480px;
  background-size: cover;
  border-radius: 10px;
}

.next_button,
.prev_button {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #e2dede;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
}

.prev_button {
  left: -35px;
  top: 50%;
}

.next_button {
  right: -35px;
  top: 50%;
}
