.slide {
  display: flex;
  justify-content: space-between;
  width: 642px;
  gap: 20px;
  border-radius: 10px;
  background-color: #080423;
  padding: 34px;
  color: #fff;
}

.slideInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 254px;
  height: 100%;
}

.movieTitle {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.2;
}

.movieInfo {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 20px;
}

.moviePoster {
  display: inline-block;
  width: 300px;
  height: 450px;
  background-size: cover;
  border-radius: 10px;
}

.movieGenres {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.movieGenre {
  display: inline-block;
  font-size: 12px;
  padding: 2px 10px;
  background-color: #ff2779;
  color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.movieWatchBtn {
  display: inline-block;
  margin-top: 25px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ff2779;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}
