.header {
  display: flex;
  width: 100%;
  gap: 4px;
  align-items: center;
  padding: 20px 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
}

.searchWrapper {
  flex: 1; /* занимает всё свободное место */
  display: flex;
}

.logo {
  width: 30%;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 700;
  flex-shrink: 0;
}

.logo span {
  color: #ff2779;
}

.input {
  flex: 1;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.input:focus {
  border-color: #ff2779;
  box-shadow: 0 0 0 2px #ff2779(0, 123, 255, 0.25);
}

.button {
  padding: 10px 16px;
  background: #ff2779;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #ff2779;
}
