.slider_title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 34px;
  text-align: center;
}

.sliderContainer {
  position: relative;
  width: 1320px;
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.nextButton,
.prevButton {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #e2dede;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
}

.prevButton {
  left: -35px;
  top: 50%;
}

.nextButton {
  right: -35px;
  top: 50%;
}
