.slider_title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 34px;
  text-align: center;
}

.sliderContainer {
  position: relative;
  width: 1320px;
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.button {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  text-align: center;
  cursor: pointer;
  line-height: 1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.button:hover {
  background: var(--color-primary-dark);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.prevButton {
  left: -25px;
}

.nextButton {
  right: -25px;
}

.nextButton svg {
  transform: scaleX(-1);
}
