.breadcrumbs {
  margin-bottom: 40px;
}

.link {
  font-size: 18px;
  color: #9c9c9c;
  margin-right: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.link:hover {
  color: var(--color-primary);
}

.arrow {
  font-size: 18px;
  color: #9c9c9c;
  margin-right: 10px;
  display: inline;
}
